@use "../utilities/mixin" as mixin;
@use "../utilities/variable" as var;

.galery-section {
  margin: 5rem 0;
  .galery-header {
    margin-top: 5rem;

    .sub-heading {
      text-align: center;
      text-transform: uppercase;
      font-size: 2em;
      font-weight: 700;
      color: var.$primary-blue;
    }
  }

  .galery-container {
    @include mixin.flex-center;
    gap: 2em;

    .card-wrapper {
      @include mixin.flex-column(column);
      max-width: 21rem;
      border-radius: 5px;
      box-shadow: var.$shadow;

      .card-img {
        @include mixin.object-fit(contain);
        aspect-ratio: 16/9;

        img {
          border-radius: 0 0 10px 10px;
          width: 100%;
        }
      }

      .card-body {
        padding: 1.2em;

        .card-description {
          .description {
            font-weight: 500;
            line-height: 1.4em;
          }
        }

        .card-action {
          margin-top: 10px;
          font-size: 1.2em;
          gap: 1.2em;
          display: flex;
          flex-wrap: wrap;
          i {
            cursor: pointer;

            &::before {
              font-weight: bold !important;
            }
          }

          .bi.bi-heart {
            color: black;
            animation: not-like 0.3s linear;

            @keyframes not-like {
              60%,
              80%,
              100% {
                transform: scale(1.2);
              }

              10%,
              30%,
              50% {
                transform: scale(0);
              }
            }
          }

          .bi.bi-heart-fill {
            color: red;
            animation: like 0.3s linear;

            @keyframes like {
              10%,
              30%,
              50% {
                transform: scale(0);
              }
              60%,
              80%,
              90%,
              100% {
                transform: scale(1.2);
              }
            }
          }
        }

        .card-statistic {
          @include mixin.flex-column(column);
          align-items: flex-end;
          margin-top: 10px;

          [data-bs-toggle="modal"] {
            cursor: pointer;
          }
        }
      }
    }
  }
}

.modal-show-image {
  .modal-dialog {
    max-width: 100%;
    margin: 20px;

    .modal-content {
      height: 100%;

      .modal-body {
        @include mixin.flex-column(row);
        justify-content: center;
        gap: 1.5em;
        height: 35rem;
        
        .modal-image {
          @include mixin.flex-center;
          max-width: 40rem;

          .owl-nav {
            display: none;
          }

          img {
            width: 100%;
          }

        }

        .modal-comment-wrapper {
          display: flex;
          flex-direction: column;
          height: 100%;

          .modal-comment-content {
            max-width: 30rem;
            height: 80%;
            overflow-y: scroll;

              &::-webkit-scrollbar {
                width: 5px;
              }
    
              &::-webkit-scrollbar-track {
                background: #f1f1f1;
              }
    
              &::-webkit-scrollbar-thumb {
                background: #888;
                border-radius: 10px;
              }
    
              &::-webkit-scrollbar-thumb:hover {
                background: #555;
              }

            .description {
              border-bottom: 1px solid #dee2e6;
              padding-bottom: 1em;
              
              .modal-image-action {
                margin-top: 10px;
                font-size: 1em;
                margin-left: 5px;
                gap: 1em;
                display: flex;
                i {
                  cursor: pointer;
  
                  &::before {
                    font-weight: bold !important;
                  }
                }
                .bi.bi-heart {
                  color: black;
                  animation: not-like 0.3s linear;
  
                  @keyframes not-like {
                    60%,
                    80%,
                    100% {
                      transform: scale(1.2);
                    }
  
                    10%,
                    30%,
                    50% {
                      transform: scale(0);
                    }
                  }
                }
  
                .bi.bi-heart-fill {
                  color: red;
                  animation: like 0.3s linear;
  
                  @keyframes like {
                    10%,
                    30%,
                    50% {
                      transform: scale(0);
                    }
  
                    60%,
                    80%,
                    90%,
                    100% {
                      transform: scale(1.2);
                    }
                  }
                }
              }
            }

            .comment-section {
              margin-top: 2em;
            }

          }
          .input-wrapper {
            top: 5%;
          }

        }
      }
    }
  }
}
