@use '../utilities/variable' as var;

header {
    height: 100%;
    width: 100%;
    background-color: var.$primary-blue;
    .jumbotron {
        display: flex;
        justify-content: center;
        height: 100vh;
        #coders {
            width: 95%;
            height: 100vh;
            position: absolute;
            left: 0;
        }
    } 
}
