@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

ul, dl, ol {
  list-style-type: none;
  margin: 0 !important;
  padding: 0 !important;
}

h1, h2, h3,
h4, h5, h6 {
  margin: 0 !important;
}

p {
  margin: 0 !important;
}

a {
  text-decoration: none !important;
  color: var(--white);
  cursor: pointer;
}

.navbar {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
  width: 100%;
  padding: 15px;
  background-color: #104EA3;
}
.navbar .logo h1 {
  color: #F7F4EA;
  font-weight: 700;
}
.navbar .navigation ul:not(.dropdown-content-navbar ul) {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.navbar .navigation ul li {
  margin: 5px 10px;
}
.navbar .navigation ul li a {
  border-radius: 3px;
  padding: 5px;
  color: #F7F4EA;
  font-size: 12pt;
}
.navbar .navigation ul li a:not(.login, .dropdown-content-navbar ul li a):hover {
  background-color: #F7F4EA;
  color: #F6AB36;
}
.navbar .navigation .login {
  background-color: #F6AB36;
  color: #F7F4EA;
}
.navbar .navigation .dropdown-navbar {
  outline: none !important;
  position: relative;
  color: #F7F4EA;
  cursor: pointer;
}
.navbar .navigation .dropdown-navbar .dropdown-content-navbar {
  display: none;
  position: absolute;
  overflow: hidden;
  top: 35px;
  z-index: 1;
  width: 12rem;
  background-color: white;
  box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.15);
}
.navbar .navigation .dropdown-navbar .dropdown-content-navbar ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.navbar .navigation .dropdown-navbar .dropdown-content-navbar ul li::after {
  content: "";
  left: 50%;
  top: 0;
  position: absolute;
  width: 0;
  height: 3px;
  background-color: #F6AB36;
  transition: width 0.3s ease 0s, left 0.2s ease 0s;
}
.navbar .navigation .dropdown-navbar .dropdown-content-navbar ul li:hover::after {
  width: 100%;
  left: 0;
  transition: width 0.3s ease 0s, left 0.2s ease 0s;
}
.navbar .navigation .dropdown-navbar .dropdown-content-navbar ul li a {
  color: #F6AB36;
  font-size: 12pt;
}

header {
  height: 100%;
  width: 100%;
  background-color: #104EA3;
}
header .jumbotron {
  display: flex;
  justify-content: center;
  height: 100vh;
}
header .jumbotron #coders {
  width: 95%;
  height: 100vh;
  position: absolute;
  left: 0;
}

.berita-section-homepage {
  margin-top: 15px;
}
.berita-section-homepage .berita-wrapper .berita-container {
  width: 100%;
}
.berita-section-homepage .berita-wrapper .berita-container .owl-carousel .owl-item {
  max-width: 354px;
  margin: 20px 0;
  margin-left: 10px;
}
.berita-section-homepage .berita-wrapper .berita-container .card-berita {
  box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  position: relative;
}
.berita-section-homepage .berita-wrapper .berita-container .card-berita .card-image {
  max-width: 23rem;
  transition: all 0.5s linear;
}
.berita-section-homepage .berita-wrapper .berita-container .card-berita .card-image img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.berita-section-homepage .berita-wrapper .berita-container .card-berita .card-content {
  position: absolute;
  z-index: 5;
  bottom: 0;
  padding: 0.5em;
  opacity: 0;
  transition: all 0.5s ease;
}
.berita-section-homepage .berita-wrapper .berita-container .card-berita .card-content .title {
  font-size: 1.2em;
  line-height: 1.5;
}
.berita-section-homepage .berita-wrapper .berita-container .card-berita:hover .card-content {
  opacity: 1;
  transform: translate(0%, -10%);
  transition: all 0.5s ease;
}
.berita-section-homepage .berita-wrapper .berita-container .card-berita:hover .card-image {
  filter: blur(1.4px);
  overflow: hidden;
  transition: all 0.5s linear;
}

.galeri-section-homepage {
  margin-bottom: 10em;
}
.galeri-section-homepage .galeri-wrapper .galeri-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1em;
  gap: 1.2em;
}
.galeri-section-homepage .galeri-wrapper .galeri-container .card-galeri {
  max-width: 21rem;
  box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.galeri-section-homepage .galeri-wrapper .galeri-container .card-galeri .title {
  font-size: 1.2em;
  line-height: 1.5;
  color: #F6AB36;
  padding: 0.5em;
}
.galeri-section-homepage .galeri-wrapper .galeri-container .card-galeri img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.project-section-homepage {
  margin: 7em 0;
}
.project-section-homepage .project-wrapper .project-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1em;
  gap: 1.3em;
}
.project-section-homepage .project-wrapper .project-container .card-project {
  box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  position: relative;
}
.project-section-homepage .project-wrapper .project-container .card-project .image-card {
  max-width: 25rem;
}
.project-section-homepage .project-wrapper .project-container .card-project .image-card img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.project-section-homepage .project-wrapper .project-container .card-project .card-content {
  position: absolute;
  z-index: 5;
  bottom: 0;
  padding: 0.7em;
  width: 100%;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  height: 20%;
  transition: all 0.5s ease;
}
.project-section-homepage .project-wrapper .project-container .card-project .card-content .title {
  font-size: 1.2em;
  color: #F6AB36;
}
.project-section-homepage .project-wrapper .project-container .card-project .card-content .description {
  position: absolute;
  transform: translate(0%, 10%);
  opacity: 1;
  transition: all 0.5s ease;
}
.project-section-homepage .project-wrapper .project-container .card-project .card-content .description .bahasa-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1em;
  margin-top: 1.2em;
}
.project-section-homepage .project-wrapper .project-container .card-project .card-content .description .bahasa-container img {
  -o-object-fit: contain;
     object-fit: contain;
  aspect-ratio: 1/1;
}
.project-section-homepage .project-wrapper .project-container .card-project:hover .card-content {
  transition: all 0.5s ease;
  height: 100%;
}
.project-section-homepage .project-wrapper .project-container .card-project:hover .description {
  opacity: 1;
  transition: all 0.5s ease;
}

.contact {
  margin-bottom: 7em;
}
.contact .massage-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1.5rem;
}
.contact .massage-container input, .contact .massage-container textarea {
  border-radius: 5px;
  background-color: #104EA3;
  border: none;
  color: #5783be;
  padding: 1.5em;
  width: 350px;
  text-align: left;
}
.contact .massage-container input:-ms-input-placeholder, .contact .massage-container textarea:-ms-input-placeholder {
  color: #5783be;
  opacity: 1;
}
.contact .massage-container button {
  border: 1px solid #06488C;
  border-radius: 5px;
  background-color: #5783be;
  padding: 1em;
  font-weight: 700;
}
.contact .massage-container button:hover {
  background-color: #06488C;
  color: #5783be;
  cursor: pointer;
}

.jadwal-section {
  margin: 5em 0;
}
.jadwal-section .jadwal-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  gap: 3em;
}
.jadwal-section .jadwal-wrapper .header-jadwal {
  margin-top: 10px;
}
.jadwal-section .jadwal-wrapper .header-jadwal .sub-heading {
  text-align: center;
  color: #104EA3;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 700;
}
.jadwal-section .jadwal-wrapper .dropdown-kelas {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.jadwal-section .jadwal-wrapper .dropdown-kelas .container-option {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.jadwal-section .jadwal-wrapper .dropdown-kelas .container-option .option-dropdown {
  border: 1px solid #f8f8f8;
  text-align: left;
  font-size: 1.2em;
  color: #474747;
  width: 300px;
  height: 100%;
  border-radius: 2px;
  outline: none !important;
  position: relative;
  transition: all 0.5s ease;
  cursor: pointer;
}
.jadwal-section .jadwal-wrapper .dropdown-kelas .container-option .option-dropdown .select {
  text-align: center;
  display: block;
  padding: 10px;
}
.jadwal-section .jadwal-wrapper .dropdown-kelas .container-option .option-dropdown .select span {
  font-size: 13pt;
  padding: 5px;
}
.jadwal-section .jadwal-wrapper .dropdown-kelas .container-option .option-dropdown .select i {
  font-size: 10pt;
  color: #F6AB36;
}
.jadwal-section .jadwal-wrapper .dropdown-kelas .container-option .option-dropdown .select i::before {
  transition: all 0.3s ease-in-out;
  transform: rotate(0deg);
}
.jadwal-section .jadwal-wrapper .dropdown-kelas .container-option .option-dropdown.active .select i::before {
  transition: all 0.3s ease-in-out;
  transform: rotate(-180deg);
}
.jadwal-section .jadwal-wrapper .dropdown-kelas .container-option .option-dropdown:hover, .jadwal-section .jadwal-wrapper .dropdown-kelas .container-option .option-dropdown.active {
  border: 2px 2px 0 0;
}
.jadwal-section .jadwal-wrapper .dropdown-kelas .container-option .option-dropdown:active {
  background-color: #f8f8f8;
}
.jadwal-section .jadwal-wrapper .dropdown-kelas .container-option .option-dropdown .dropdown-menu {
  display: none;
  position: absolute;
  overflow: hidden;
  overflow-y: auto;
  z-index: 9;
  left: 0;
  width: 100%;
  background-color: #fff;
  margin-top: 5px;
  border-radius: 0 0 2px 2px;
}
.jadwal-section .jadwal-wrapper .dropdown-kelas .container-option .option-dropdown .dropdown-menu li {
  padding: 10px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.jadwal-section .jadwal-wrapper .dropdown-kelas .container-option .option-dropdown .dropdown-menu li:hover {
  background-color: #f2f2f2;
}
.jadwal-section .jadwal-wrapper .dropdown-kelas .container-option .option-dropdown .dropdown-menu li:active {
  background-color: #e2e2e2;
}
.jadwal-section .jadwal-wrapper .mapel-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
.jadwal-section .jadwal-wrapper .mapel-container .card-mapel-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: #F6AB36;
  box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 1em;
}
.jadwal-section .jadwal-wrapper .mapel-container .card-mapel-item .card-mapel-body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-weight: 600;
}
.jadwal-section .jadwal-wrapper .mapel-container .card-mapel-item .card-mapel-body .sub-heading {
  font-size: 1.2em;
  line-height: 1.5;
  text-align: center;
  color: #104EA3;
}
.jadwal-section .jadwal-wrapper .mapel-container .card-mapel-item .card-mapel-body .kegiatan {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 10px;
}
.jadwal-section .jadwal-wrapper .mapel-container .card-mapel-item .card-mapel-body .kegiatan .mapel-list {
  display: flex;
  align-items: center;
  gap: 0.3em;
}
.jadwal-section .jadwal-wrapper .mapel-container .card-mapel-item .card-mapel-body .kegiatan .mapel-list .mapel {
  font-size: 1.5em;
}
.jadwal-section .jadwal-wrapper .mapel-container .card-mapel-item .card-mapel-body .kegiatan .mapel-list .guru {
  color: #474747;
  font-size: 0.9em;
}

.galery-section {
  margin: 5rem 0;
}
.galery-section .galery-wrapper .header-galery {
  margin-top: 10px;
}
.galery-section .galery-wrapper .header-galery .sub-heading {
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 700;
  color: #104EA3;
}
.galery-section .galery-wrapper .galery-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
.galery-section .galery-wrapper .galery-container .card-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 21rem;
  border-radius: 5px;
  box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.15);
}
.galery-section .galery-wrapper .galery-container .card-wrapper .card-img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  aspect-ratio: 16/9;
}
.galery-section .galery-wrapper .galery-container .card-wrapper .card-img img {
  border-radius: 0 0 10px 10px;
  width: 100%;
}
.galery-section .galery-wrapper .galery-container .card-wrapper .card-body {
  padding: 1.5em;
}
.galery-section .galery-wrapper .galery-container .card-wrapper .card-body .card-description .description {
  font-weight: 500;
  line-height: 1.4em;
}
.galery-section .galery-wrapper .galery-container .card-wrapper .card-body .card-action {
  margin-top: 10px;
  font-size: 1.2em;
  gap: 1.2em;
  display: flex;
  flex-wrap: wrap;
}
.galery-section .galery-wrapper .galery-container .card-wrapper .card-body .card-action i {
  cursor: pointer;
}
.galery-section .galery-wrapper .galery-container .card-wrapper .card-body .card-action .bi.bi-heart-fill {
  color: red;
  -webkit-animation: transform 0.2s linear;
          animation: transform 0.2s linear;
}
@-webkit-keyframes transform {
  10%, 30%, 50% {
    transform: scale(0);
  }
  60%, 80%, 100% {
    transform: scale(1.2);
  }
}
@keyframes transform {
  10%, 30%, 50% {
    transform: scale(0);
  }
  60%, 80%, 100% {
    transform: scale(1.2);
  }
}
.galery-section .galery-wrapper .galery-container .card-wrapper .card-body .card-statistic {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 10px;
}
.galery-section .galery-wrapper .galery-container .card-wrapper .card-body .card-statistic .show-modal {
  cursor: pointer;
}

footer {
  background-color: #104EA3;
  color: #F7F4EA;
  margin-top: auto;
  padding: 1.5em;
}
footer span {
  text-decoration: underline;
  font-weight: 800px;
}/*# sourceMappingURL=main.css.map */