*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    overflow-x: hidden;
    text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');

:root {
    --primary-blue:#104EA3;
    --secondary-blue:#06488C;
    --tertiary-blue:#174C98;
    --gray-blue:#5783be;

    --red:#EC3565;

    --cyan:#50D2D2;
    --light-cyan:#CAEFFF;

    --yellow:#F6AB36;

    --white:#F7F4EA;

    --poppins:'Poppins', sans-serif;
    --monsterrat: 'Monsterrat', sans-serif;
}

/* [data-theme="dark"]{
    tbd
} */

*{
    font-family: var(--poppins);
}

#active{
    background-color: white;
    border-radius: 5px;
    color: var(--yellow);
}