body{
    background-color: var(--primary-blue);
}

.jadwal-container{
    margin-top: 15em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.header-jadwal h1{
    color: white;
    font-size: 5em;
}

.dropdown-kelas{
    position: relative;
    display: flex;
    flex-direction: column;
    right: 20%;
    margin-bottom: 4em;
}

.dropdown-kelas h1{
    color: var(--yellow);
    margin-bottom: 0.25em;
    text-align: left;
}

.dropdown-kelas select{
    font-weight: bolder;
    padding: 0.5em;
    font-size: 1.5em;
    border: none;
    border-radius: 10px;
    color: gray;
    -webkit-appearance: none;
}

.dropdown-kelas option{
    font-size: 1em;
    -webkit-appearance: none;
}

.jadwal-mapel{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3em;
}

.hari{
    box-sizing: border-box;

    background-color: var(--yellow);
    border-radius: 10px;
    padding: 2em;
    font-size: 1.5em;

    display: flex;
    flex-direction: column;
    font-weight: bolder;
}

.hari h1{
    font-size: 3em;
    margin-bottom: 0.15em;
}

.waktu{
    font-size: 1.25em;
}

.guru{
    color: var(--primary-blue);
    font-size: 0.8em;
}

@media screen and (max-width: 600px) {
    .dropdown-kelas{
        margin-top: 5em;
        right: 0;
    }
    .dropdown-kelas h1{
        text-align: center;
    }
}