@use '../utilities/font' as font;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

ul, dl, ol {
    list-style-type: none;
    margin: 0 !important;
    padding: 0 !important;
}

h1,h2,h3,
h4,h5,h6 {
    margin: 0 !important;
}

p {
    margin: 0 !important;
}

a {
    text-decoration: none !important;
    color: var(--white);
}

