.berita-section {
    margin-top: 15px;
}

.berita-wrapper .berita-container {
    width: 100%;
}

.berita-wrapper .berita-container .owl-carousel .owl-item {
    max-width: 354px;
    margin: 20px 0;
    margin-left: 10px;
}

.berita-wrapper .berita-container .card-berita{
    border-radius: 8px;
    box-shadow: var(--shadow);
    position: relative;
}

/* Card Content */
.berita-wrapper .berita-container .card-berita .card-content {
    position: absolute;
    z-index: 5;
    padding: 0.7em;
    bottom: 0;
    opacity: 0;
    transition: all 0.5s ease;
}

.berita-wrapper .berita-container .card-berita:hover .card-content {
    opacity: 1;
    transform: translate(0%, -10%);
    transition: all 0.5s ease;
}

.berita-wrapper .berita-container .card-berita .card-content .title {
    font-size: 1.2em;
    color: var(--yellow);
}
/* Card Content */

/* Card Image */
.berita-wrapper .berita-container .card-berita .card-image {
    max-width: 23rem;
    transition: all 0.4s linear;
}

.berita-wrapper .berita-container .card-berita:hover .card-image {
    filter: blur(1.4px);
    overflow: hidden;
    transition: all 0.4s linear;
}

.berita-wrapper .berita-container .card-berita .card-image img {
    width: 100%;
    object-fit: contai;
}
/* Card Image */

