.galeri-section-homepage{
    margin-bottom: 7em;
}

.galeri-wrapper .galeri-container{
    display: flex;
    flex-wrap: wrap;
    place-items: center;
    justify-content: center;
    padding: 1em;
    gap: 1.3em;
}

.galeri-wrapper .galeri-container .card-galeri {
    max-width: 21rem;
    box-shadow: var(--shadow);
    border-radius: 5px;
}

.galeri-wrapper .galeri-container .card-galeri .title {
    font-size: 1.2em;
    color: var(--yellow);
    padding: 0.6em;
}

.galeri-wrapper .galeri-container .card-galeri img {
    padding: 0.5em;
    width: 100%;
}